# Игнорировать файлы и каталоги IDE (например, для PyCharm)
.idea/
*.iml
*.xml

# Игнорировать скомпилированные Python файлы
__pycache__/
*.pyc

# Игнорировать временные и логи
*.log

# Игнорировать файлы примеров
examples/

# Если у вас есть файлы конфигурации для системы сборки, например, .env, их тоже можно игнорировать
# .env

